@media (max-width: 576px) {
  .nav-right {
    margin-left: 85%;
  }
  .hero {
    background-color: #ffffff;
    height: 500px;
  }
  .hero .positionText {
    margin-top: 180px;
    margin-left: 80px;
  }
  .hero .text-header {
    width: 390px;
  }
  .Recent-posts {
    background-color: #edf7fa;
    height: 350px;
  }
  .Recent-posts .position {
    padding-top: 60px;
  }

  .Featured-works {
    background-color: #ffffff;
    height: 700px;
    padding-top: 40px;
    justify-content: center;
  }
  footer {
    background-color: #ffffff;
    height: 200px;
    padding-top: 60px;
  }
  .imgCenter {
    width: 50%;
    margin: 0 auto;
  }
  .text-position {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  hr {
    width: 80%;
  }

  .footer-position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
  }
}
@media (min-width: 576px) {
  .nav-right {
    margin-left: 85%;
  }
  .hero {
    background-color: #ffffff;
    height: 800px;
    flex-direction: row-reverse;
  }
  .hero .positionText {
    margin-top: 180px;
    margin-left: 80px;
  }
  .hero .text-header {
    width: 390px;
  }
  .Recent-posts {
    background-color: #edf7fa;
    height: 350px;
  }
  .Recent-posts .position {
    padding-top: 60px;
  }

  .Featured-works {
    background-color: #ffffff;
    height: 700px;
    padding-top: 40px;
    justify-content: center;
  }
  footer {
    background-color: #ffffff;
    height: 200px;
    padding-top: 60px;
  }
  .imgCenter {
    width: 50%;
    margin: 0 auto;
  }
  .text-position {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  hr {
    width: 80%;
  }

  .footer-position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
  }
}

@media (min-width: 992px) {
  .nav-right {
    margin-left: 85%;
  }
  .hero {
    background-color: #ffffff;
    height: 500px;
  }
  .hero .positionText {
    margin-top: 180px;
    margin-left: 80px;
  }
  .hero .text-header {
    width: 390px;
  }
  .Recent-posts {
    background-color: #edf7fa;
    height: 350px;
  }
  .Recent-posts .position {
    padding-top: 60px;
  }

  .Featured-works {
    background-color: #ffffff;
    height: 700px;
    padding-top: 40px;
    justify-content: center;
  }
  footer {
    background-color: #ffffff;
    height: 200px;
    padding-top: 60px;
  }
  .imgCenter {
    width: 50%;
    margin: 0 auto;
  }
  .text-position {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  hr {
    width: 80%;
  }

  .footer-position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
  }
}
